<div>
    <p>
        Hi, I am <strong>Pragnesh K. Solanki</strong>
        <br>
        Working with Microsoft Technologies. Since March 2006, it was my first step to working with Microsoft Technologies, achieved master degree on Computer Science from Gujarat University.
        <br>
        Have 12+ years of professional experience on software development, currently working as IT Consultant at Self Employed.
        <br>
        I believe in desire of learning &amp; also love to be a part of .Net Community by sharing knowledges. Tech writer &amp; author at C# Corner, Code Project. Get some of my shared repositories @GitHub
    </p>
    <hr class="mt-10 mb-10">
    <p>
        <strong>You can follow me at Social Network</strong>
        <br>
        Twitter: @pragneshsolanki<br>
        Facebook: @pragneshs9
        <br><br>
        <strong>Find me at Professional Network</strong>
        <br>
        Linkedin: pragneshsolanki
    </p>
</div>